@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nexus-900 text-slate-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-nexus-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-nexus-500/20 rounded-full hover:bg-nexus-500/40 transition-colors;
}